body {
    width:90%;
    margin: 2em auto;
    background: #c9ccce;
    color: #333;
    font-size: 20px;
    font-family: Monospaced, monospace;
}

.menu a , .bottom-margin a , .my_form button[type=submit] , .login_view input[type=submit] , .add_new input[type=submit]{
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
    border-radius: 20px;
    border: none;
}

.my_form button[type=submit], .login_view input[type=submit], .add_new input[type=submit] {
    margin-left: 0;
}

.login_legend {
    padding-bottom: 20px;
}

.add_new {
    padding: 30px !important;
}

.header, .footer, .content, .menu, .my_form, .login_view, .add_new {
    margin: 1em auto;
    border: 0.01em solid #aaa;
    border-radius: 1em;
    padding: 1em;
    background: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
}

.header, .footer{
    text-align: center;
}

.my_form  input[type=text], .login_view input[type=text], .login_view input[type=password], .add_new input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: #333;
}

.messages {
    margin: 1em auto;
}

.err, .inf, .res {
    padding: 1em 1em 1em 3em;
    border-radius: 1em;
    color: #222;
}

.err {
    background-color: #f88;
}

.inf {
    background-color: #89c0e8;
}

.res {
    background-color: #fafa92;
}

.bottom-margin {
    margin-bottom: 20px;
}

table th, table td {
    padding: 0.25em 0.5em;
    text-align: left;
}
table th:nth-child(2), table td:nth-child(2) {
    text-align: right;
}
table td {
    background-color: #eee;
}

table td a {
    color: #f44336;
}

table th {
    background-color: #f44336;
    color: #fff;
}
.zigzag {
    border-collapse: separate;
    border-spacing: 0.25em 1em;
}
.zigzag tbody tr:nth-child(odd) {
    transform: rotate(2deg);
}
.zigzag thead tr, .zigzag tbody tr:nth-child(even) {
    transform: rotate(-2deg);
}

fieldset {
    border-width: 0;
}
